#contact {
    padding-top: 4.8rem;
}

.iconContainer {

    display: flex;
    justify-content: space-between;

    i {

        color: $contentFontColour;
        opacity: 0.7;

        transition: 0.3s;
        &:hover {
            opacity: 1;
            
            transition: 0.3s;
        }
    }
}

@media only screen and (max-width: 65rem) {
    .iconContainer {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 50rem) {
    .iconContainer {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 40rem) {
    .iconContainer {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 30rem) {
    .iconContainer {
        font-size: 0.4em;
    }
}

@media only screen and (max-width: 20rem) {
    .iconContainer {
        font-size: 0.3em;
    }
}