$linkInactive : #AEAEAE;
$contentBackground : #FFFFFF;
$mainFont : 'Nunito', sans-serif;
$contentFontColour : #000000;
$breakpointMobile : 515px;
$breakpointTablet : 1024px;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}