html {
    font-size: 62.5%;
    body {
        background-image: url('../images/Background.svg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        font-family: $mainFont;
        nav {
            height: 4.8rem;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #000000;
            z-index: 9999;
            .logoContainer {
                height: 4.8rem;
                width: auto;
            }
            .navButtons {
                float: right;
                padding-top: 1.6rem;
                a {
                    display: inline-block;
                    font-family: $mainFont;
                    color: $linkInactive;
                    text-decoration: none;
                    font-size: 1.6rem;
                    font-weight: 400;
                    width: 10rem;
                    text-align: center;
                    transition: 0.3s;
                    &:hover {
                        color: $contentBackground;
                        font-weight: 700;
                        transition: 0.3s;
                    }
                }
            }
        }
        .callout {
            text-align: center;
            .calloutText {
                text-align: left;
                display: inline-block;
                margin: 0 auto;
                padding-top: 10vh;
                height: 100vh;
                h1,
                h2 {
                    color: $contentBackground;
                }
                h1 {
                    width: 3em;
                    font-size: 4.8rem;
                    margin-bottom: 0;
                } h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0.5em;
                    padding-bottom: 0;
                    padding-left: 2em;
                    width: 12em;
                    font-size: 2.4rem;
                }
            }
        }
        .scrollOffset {
            padding-top: 4.8rem;
            .pageContent {
                font-size: 1.6rem;
                background-color: $contentBackground;
                width: 80%;
                padding-top: 1.6rem;
                margin: 0 auto;
                height: 200vh;
                section {
                    padding: 0;
                    margin: 0;
                    h1 {
                        text-align: center;
                    }
                    p {
                        padding: 0 1rem;
                    }
                }
                .portfolioContainer {
                    display: flex;
                    margin: 0 auto;
                    width: 100rem;
                    justify-content: space-around;
                    .portfolioItemTwoCol {
                        width: 23.5rem;
                        height: 23.5rem;
                        position: relative;
                        background-color: black;
                        &:hover  .portfolioContent {
                        opacity: 1;
                        transition: 0.3s;
                        z-index: 1;
                        }
                        h1 {
                            padding: 1.6rem;
                            margin: 0;
                        }
                        p {
                            padding: 0 1rem;
                            margin: 0;
                            font-size: 1.2rem;
                            line-height: 1.6rem;
                        }
                        .portfolioContent {
                            background-color: black;
                            display: inline-block;
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            top: 0;
                            left: 0;
                            color: $contentBackground;
                            background-color: rgba(0,0,0,0.7);
                            transition: 0.3s;
                            z-index: -1;
                        }
                    }
                }
                #portfolio,
                #contact {
                    padding-top: 4.8rem;
                }
            }
        }
    }
}