html {
    font-size: 62.5%;
    body {
        nav {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #000000;
            opacity: 0.9;
            .logoContainer {
                height: 4.8rem;
                width: auto;
            }
            .navButtons {
                float: right;
            }
        }
        .callout {
            height: 100vh;
            background-color: grey;
        }
    }
}