html {
    font-size: 62.5%;
    body {
        nav {
            background-color: #000000;
            opacity: 0.9;
            .logoContainer {
                height: 4.8rem;
                width: auto;
            }
        }
    }
}